PORT=4001
LOCALHOST=true

# Database
MYSQL_HOST=127.0.0.1
MYSQL_DB_NAME=database
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_PORT=8889

# MAIL
MAIL_KEY=
MAIL_FROM=
MAIL_FROM_NAME=

# COOKIE
COOKIE_KEY=
COOKIE_DOMAIN=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=